<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}
        <small><a href="/blog/2016/07/09/Looking-for-writers.html">Looking for writers...</a></small>
      </p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="http://x64dbg.com">Home</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Blog</a>
      <a class="sidebar-nav-item" href="http://releases.x64dbg.com">Download</a>
      <a class="sidebar-nav-item" href="http://source.x64dbg.com">Source</a>
      <a class="sidebar-nav-item" href="http://help.x64dbg.com">Documentation</a>
      <a class="sidebar-nav-item" href="http://donate.x64dbg.com">Donate</a>
      <a class="sidebar-nav-item" href="http://wiki.x64dbg.com">Wiki</a>
      <a class="sidebar-nav-item" href="http://issues.x64dbg.com">Issues</a>
      <a class="sidebar-nav-item" href="http://faq.x64dbg.com">FAQ</a>
      <a class="sidebar-nav-item" href="http://contribute.x64dbg.com">Contribute</a>
      <a class="sidebar-nav-item" href="http://telegram.x64dbg.com">Telegram</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
